In [4]:
# Creating Class
class Cars:   # Alwayas start from upper case 
    Brand = 'TATA'
    Name = 'Safari'
    Color = 'Black'
# Creating Object(instance)
f1 = Cars()
print(f1.Brand,f1.Name,f1.Color)

TATA Safari Black

In [13]:
class Phones:
    Brand = 'Oppo'
    Modal_Name = 'Reno 8'
    color = 'Blue'
f2 = Phones()
print(f2.Brand,f2.Modal_Name)

Oppo Reno 8

In [19]:
class Shoes:
    Brand = 'Campus'
    Name = 'Pilot Pro'
    color = 'White'
    Price = 3500
f3 = Shoes()
print(f3.Brand,f3.color,f3.Price)

Campus White 3500

In [12]:
class Student():
    def __init__(self, name, age):
        self.name = name
        self.age = age
      
s1 = Student('Varun',20)
print(s1.name,s1.age)

s2 = Student('Amit',18)
print(s2.name,s2.age)

s3 = Student('Rohan',22)
print(s3.name,s3.age)

s4 = Student('Sumit',25)
print(s4.name,s4.age)

s5 = Student('Arif',21)
print(s5.name,s5.age)

Varun 20
Amit 18
Rohan 22
Sumit 25
Arif 21

In [4]:
class Cars:
    def __init__(self,brand, name, color):
        self.brand = brand
        self.name = name
        self.color = color

a1 = Cars('Toyota,','Innova,','White')
print(a1.brand,a1.name,a1.color)

a2 = Cars('Tata,','Safari,','Black')
print(a2.brand,a2.name,a2.color)

a3 = Cars('Mahindra,','Scarpio,','Black')
print(a3.brand,a3.name,a3.color)

a4 = Cars('MG,','Gloster,','White')
print(a4.brand,a4.name,a4.color)

a5 = Cars('Mahindra,','Thar,','Red')
print(a5.brand,a5.name,a5.color)

Toyota, Innova, White
Tata, Safari, Black
Mahindra, Scarpio, Black
MG, Gloster, White
Mahindra, Thar, Red

In [8]:
class Phones:
    def __init__(self, brand, name, color):
        self.brand = brand
        self.name = name
        self.color = color

x1 = Phones('Oppo','Reno 10','Black')
print(x1.brand,x1.name,x1.color)

x2 = Phones('Vivo','Y72','Black')
print(x2.brand,x2.name,x2.color)

x3 = Phones('Realme','13 Pro +','Black')
print(x3.brand,x3.name,x3.color)

x4 = Phones('Samsung','Z Fold 4','Blue')
print(x4.brand,x4.name,x4.color)

x5 = Phones('Apple','Iphone 15','White')
print(x5.brand,x5.name,x5.color)

Oppo Reno 10 Black
Vivo Y72 Black
Realme 13 Pro + Black
Samsung Z Fold 4 Blue
Apple Iphone 15 White

In [1]:
class Students:
    def __init__(self,roll_no,name,age,year):
        self.roll_no = roll_no
        self.name = name
        self.age = age
        self.year = year

y1 = Students(101,'Rohan',17,2020)
print(y1.roll_no,y1.name,y1.age,y1.year)

y2 = Students(105,'Rohit',20,2018)
print(y2.roll_no,y2.name,y2.age,y2.year)

y3 = Students(110,'Priya',22,2023)
print(y3.roll_no,y3.name,y3.age,y3.year)

y4 = Students(112,'Anjali',20,2022)
print(y4.roll_no,y4.name,y4.age)

y5 = Students(120,'Arun',25,2015)
print(y5.roll_no,y5.name)

101 Rohan 17 2020
105 Rohit 20 2018
110 Priya 22 2023
112 Anjali 20
120 Arun

In [19]:
class Students:
    College = 'AAFT'
    def __init__(self,roll_no,name,age,year):
        self.roll_no = roll_no
        self.name = name
        self.age = age
        self.year = year
        print("Adding Students to database")

print(y1.College)
y1 = Students(101,'Rohan',17,2020)
print(y1.roll_no,y1.name,y1.age,y1.year)

y2 = Students(105,'Rohit',20,2018)
print(y2.roll_no,y2.name,y2.age,y2.year)

y3 = Students(110,'Priya',22,2023)
print(y3.roll_no,y3.name,y3.age,y3.year)

y4 = Students(112,'Anjali',20,2022)
print(y4.roll_no,y4.name,y4.age)

y5 = Students(120,'Arun',25,2015)
print(y5.roll_no,y5.name)
print(y1.College)

AAFT
Adding Students to database
101 Rohan 17 2020
Adding Students to database
105 Rohit 20 2018
Adding Students to database
110 Priya 22 2023
Adding Students to database
112 Anjali 20
Adding Students to database
120 Arun
AAFT

In [62]:
for i in range(5, 0, -1):
    print("*" * i)

*****
****
***
**
*

In [65]:
for i in range(1, 5):
    print("*" * i)

*
**
***
****